<footer class="footer text-center bg-dark">
	<div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link" href="{{ path('app_propos') }}">A propos</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="{{ path('app_mentions') }}">Mentions légales</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="{{ path('app_cgu') }}">Conditions générales d'utilisation</a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="{{ path('app_rgpd') }}">Vos données</a>
                </li>
            </ul>
	</div>
</footer>