{% extends 'base.html.twig' %}

{% block title %}CGU
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <p>
            Bienvenue à La Main Verte.</br>
            Quand vous accédez à notre site web pour la première fois,
            vous devez accepter les conditions d’utilisations, alors s’il vous plait prenez quelques instants
            pour les lire.</br>
            Vous pourrez si vous le souhaitez en faire une copie.</br>
            N’oubliez pas qu’utiliser notre site web, vous engage juridiquement à en respecter les usages.
            <a href="#"> <i>lien vers PDF</i></a>
        </p>
    </div>

{% endblock %}

