<table class="table">
	<thead>
		<tr>
			<th>Produit</th>
			<th>Prix</th>
			<th>Quantité</th>
		</tr>
	</thead>
	<tbody id="cart-tablebody"></tbody>
</table>

<p>Sous total :
	<span class="subtotal"></span>€
</p>

<a id="confirmOrdered" href="{{path("createCommande")}}" class="btn btn-sm btn-primary">Passer la commande</a>

