{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

<h1 class="my-5">Ajouter un nouveau produit</h1>

{{ include('product/_form.html.twig') }}

<h1 class="my-5">Liste des produits</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}