<form method="post" action="{{ path('stock_delete', {'id': stock.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette fiche?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stock.id) }}">
    <button class="btn btn-sm"><i class="fa fa-trash-o"></i></button>
</form>
